annotated-types
anyio
blinker
certifi
click
dnspython
email_validator
exceptiongroup
fastapi
fastapi-cli
Flask
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
markdown-it-py
MarkupSafe
mdurl
neo4j
packaging
pydantic
pydantic_core
Pygments
python-dotenv
python-multipart
pytz
PyYAML
rich
shellingham
sniffio
starlette
typer
typing_extensions
uvicorn
gunicorn
uvloop
watchfiles
websockets
Werkzeug
git+https://github.com/ClimateCompatibleGrowth/research_index_backend.git@development#egg=research_index_backend
