{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ first_name }} {{ last_name }}
            {% if orcid %}
            <a href="{{ orcid }}">
                <img alt="ORCID logo" src="{{url_for('static', path='img/ORCID-iD_icon_vector.svg')}}" width="24" height="24" />
                </a>
            {% endif %}
            </h1>
        </div>
    </div>

    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <!-- Affiliation -->
                    {% if affiliations %}
                        <h5 class="card-title">Affiliations</h5>
                        {% for affiliation in affiliations %}
                            <span class="badge bg-primary">{{ affiliation.name }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if workstreams %}
                        <h5 class="card-title">Workstreams</h5>
                        {% for workstream in workstreams %}
                            <span class="badge bg-secondary">{{ workstream.name }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col">
            <!-- Collaborators: -->
            {% if collaborators %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Top Collaborators for {{ type|title }}</h5>
                    <ul class="list-group list-group-flush">
                        {% for colab in collaborators %}
                        <li class="list-group-item"><a href="{{ url_for('author', id=colab.uuid) }}">{{ colab.first_name}} {{ colab.last_name }}</a>
                        {% if colab.orcid %}
                            <a href="{{ colab.orcid }}">
                            <img alt="ORCID logo" src={{url_for('static', path='img/ORCID-iD_icon_vector.svg')}} width="16" height="16" /></a>                        {% endif %}</li>
                        {% if colab.affiliations %}
                            {% for value in colab.affiliations %}
                                <span class="badge bg-primary">{{ value.name }}</span>
                            {% endfor %}
                        {% endif %}
                        {% if colab.workstreams %}
                            {% for value in colab.workstreams %}
                                <span class="badge bg-secondary">{{ value.name }}</span>
                            {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div></div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% set results = outputs.results %}
            {% set meta = outputs.meta %}
            {% include 'output_list.j2' %}

        </div>
    </div>


{% endblock %}