{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ author.first_name }} {{ author.last_name }}
            {% if author.orcid %}
            <a href="{{ author.orcid }}">
                <img alt="ORCID logo" src="{{url_for('static', path='img/ORCID-iD_icon_vector.svg')}}" width="24" height="24" />
                </a>
            {% endif %}
            </h1>
        </div>
    </div>

    <div class="row">

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <!-- Affiliation -->
                    {% if author.affiliations %}
                        <h5 class="card-title">Affiliations</h5>
                        {% for id, value in author.affiliations|dictsort %}
                            <span class="badge bg-primary">{{ value }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if author.workstreams %}
                        <h5 class="card-title">Workstreams</h5>
                        {% for id, value in author.workstreams|dictsort %}
                            <span class="badge bg-secondary">{{ value }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col">
            <!-- Collaborators: -->
            {% if author.collaborators %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Collaborators</h5>
                    <ul class="list-group list-group-flush">
                        {% for colab in author.collaborators %}
                        <li class="list-group-item"><a href="{{ url_for('author', id=colab.uuid) }}">{{ colab.first_name}} {{ colab.last_name }}</a>
                            {% if colab.orcid %}
                            <a href="{{ colab.orcid }}">
                            <img alt="ORCID logo" src={{url_for('static', path='img/ORCID-iD_icon_vector.svg')}} width="16" height="16" /></a>                        {% endif %}</li>
{                           % endif %}</li>
                        {% endfor %}
                    </ul>
                </div></div>
                {% endif %}
            </div>
        </div>

        <div class="row">
                {% set outputs = author.outputs %}
                {% include "output_list.j2" %}
        </div>
    </div>


{% endblock %}