{% extends "base.html" %}

{% block content %}

<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
<script src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>

<div class="container">
    <div class="row">
        <div class="col">
            {% if output.result_type %}
                <span class="badge text-bg-secondary">{{ output.result_type }}</span>
            {% endif %}
            <h1>{{ output.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {%if output.countries %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                            <h5 class="card-title">Countries</h5>
                            {% for country in output.countries %}
                            <a href="{{ url_for('country', id=country.id) }}" class="badge text-bg-danger">{{ country.name }}</a>
                            {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col-md-auto">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Metadata</h5>
                            {% if output.publication_year %}<b>Publication Year: </b>{{ output.publication_year }}{% endif %}
                            {% if output.journal%}<p></p><b>Journal: </b>{{ output.journal }}</p>{% endif %}
                        <a href="http://doi.org/{{ output.doi }}">http://doi.org/{{ output.doi }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Metrics</h5>
                        <span class="__dimensions_badge_embed__" data-doi="{{ output.doi }}" data-style="small_circle" data-legend="always"></span>
                        <span class='altmetric-embed' data-badge-type='donut' data-badge-details='right' data-doi="{{ output.doi }}"></span>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Authors</h5>
                    {% for author in output.authors %}
                        <l><a href="{{ url_for('author', id=author.uuid) }}">{{ author.first_name}} {{ author.last_name }}</a>
                        {% if author.orcid %}
                        <img alt=" logo" src={{url_for('static', path='img/ORCID-iD_icon_vector.svg')}} width="16" height="16" /></a>
                        {% endif %}</l>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Abstract</h5>
                    {{ output.abstract }}
                </div>
            </div>
        </div>
    </div>





</div>
{% endblock %}