{% extends "base.html" %}

{% block content %}
    <h1>{{ output.title }}</h1>

    {{output.output}}

    {%if output.countries %}
        {% for country in output.countries %}
        <span class="badge text-bg-danger">{{ country.name }}</span>
        {% endfor %}
    {% endif %}
    <p>
    {% if output.year %}{{ output.year }}, {% endif %}
    {% if output.journal%}{ output.journal }}{% endif %}</p>
    <p><a href="http://doi.org/{{ output.doi }}">http://doi.org/{{ output.doi }}</a></p>
    <h2>Authors</h2>
    {% for author in output.authors %}
        <l><a href="{{ url_for('author', id=author.uuid) }}">{{ author.first_name}} {{ author.last_name }}</a></l>
    {% endfor %}
    <p><h2>Abstract</h2>{{ output.abstract }}</p>
{% endblock %}