<div class="row">
    <h5>Filter by result type: </h5>
    <div class="btn-group" id="filter_button" role="group" aria-label="Filter research type">
    {% for result_type in ['publication', 'dataset', 'software', 'other'] %}
        <a href="?result_type={{ result_type }}&limit={{outputs.meta.limit|default(20)}}&skip=0" class="btn btn-primary">
            {{result_type}}
            <span class="badge text-bg-secondary">{{outputs.meta.count[result_type]|default(0)}}</span>
            </a>
    {% endfor %}
    </div>
</div>

<div class="row">
    {% if outputs.results %}
        {% for output in outputs.results %}
            <div class="card" id="{{output.uuid}}">
                <div class="card-body">
                    <h5 class="card-title">{{ output.title }}
                        {% if output.countries %}
                            {% for country in output.countries %}
                            <a href="{{ url_for('country', id=country.id) }}" class="badge text-bg-danger">{{ country.name }}</a>
                            {% endfor %}
                        {% endif %}
                        {% if output.result_type %}
                            <span class="badge text-bg-secondary">{{ output.result_type }}</span>
                        {% endif %}
                    </h5>
                    {% for author in output.authors %}
                        <l><a href="{{ url_for('author', id=author.uuid) }}">{{ author.first_name}} {{ author.last_name }}</a>
                        {% if author.orcid %}
                            <a href="{{ author.orcid }}"><img alt="ORCID logo" src="https://info.orcid.org/wp-content/uploads/2019/11/orcid_16x16.png" width="16" height="16" /></a>
                        {% endif %}</l>
                    {% endfor %}
                    {% if output.publication_year %}({{ output.publication_year }}){% endif %}
                    {% if output.journal %}{{ output.journal }}{% endif %}
                    <br>
                    <a href="{{ url_for('output', id=output.uuid) }}" class="card-link">View Record</a>
                    <a href="http://doi.org/{{ output.doi }}" class="card-link" target="_blank">View at Publisher</a>
                    </br>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">No outputs found</h5>
            </div>
        </div>
    {% endif %}
</div>

{% set result_type = outputs.meta.result_type|default(publication) %}
{% set limit = outputs.meta.limit %}
{% set skip = outputs.meta.skip %}
{% set count = outputs.meta.count %}

<div class="row">
    <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if skip > 0 %}
        <li class="page-item"><a class="page-link" href="?result_type={{ result_type }}&limit={{limit}}&skip={{skip - limit}}">Previous</a></li>
        {% endif %}

        {% if count[result_type] > 0 %}
        {% for page in range((count[result_type] // limit) + 1) %}
            {% set skipper = (page) * limit %}
            {% if skipper == skip %}
                <li class="page-item"><a class="page-link active" href="?result_type={{ result_type }}&limit={{limit}}&skip={{skipper}}">{{ page + 1 }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?result_type={{ result_type }}&limit={{limit}}&skip={{skipper}}">{{ page + 1 }}</a></li>
            {% endif%}
        {% endfor %}

        {% if not skip >= count[result_type] - limit %}
        <li class="page-item"><a class="page-link" href="?result_type={{ result_type }}&limit={{limit}}&skip={{skip + limit}}">Next</a></li>
        {% endif %}
        {% endif %}
    </ul>
    </nav>
</div>